<div>
  <div id="groupnav" ng-if="vm.showvar" class="col-md-1 animated slideInLeft">
    <ul>
      <li ng-repeat="group in vm.user.groups track by $index" ng-click='vm.getGroup($index); vm.select(group)' ng-class="{active: vm.isActive(group)}">{{group.name}}</li>
    </ul>
  </div>
  <h2 id="groupsMessage">{{vm.message}}</h2>
  <div class='col-md-11'>
    <h2>{{vm.currentGroup.name}}</h2>
    <div id='userHolder'class="col-md-3 slideInUp animated" ng-repeat="player in vm.currentGroup.players track by $index">
      <h3>{{player.username}}</h3>
      <h5>{{player.player}}</h5>
      <hr>
      <img src="{{player.imgsource}}">
      <h5>Description/Additional Info</h5>
      <p>{{player.description}}</p>
      <h5>Race: {{player.race}}</h5>
      <h5>Class: {{player.role}}</h5>
      <p>Skype: {{player.skype}}</p>
      <p>Discord: {{player.discord}}</p>
  </div>
</div>
